@use "../../sass/colors";
@use "../../sass/breakpoints";
@use "../../sass/mixin" as m;

.product{
    border: 1px solid lightgray;
    padding: 0em 0em .5em 0em;
    border-radius: .5em;
    box-shadow: 0px 1px 3px lightgrey;

    &__img {
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
    }

    &__name{
        // @media (min-width: breakpoints.$mobile-screen) {
        //     background-color: aqua;
        // }
        @include m.mobileMedia() {
            background-color: rgb(185, 255, 127);
        }
    }

    &__price{
        &::before{
            content: "$";
        }
    }

    &__btn {
        padding: .5em;
        border-radius: .5em;
        border: .5px solid lightgray;
        font-weight: bold;

        &:hover {
            box-shadow: 0px 1px 3px gray;
        }
    }

    &__btn_active {
        background-color: colors.$mail-btn-color;
    }

    &__btn_muted {
        background-color: tomato;
        color: white;
    }
}